extends base.pug
block content
  div(class='fail')
    div(class='hint') 不好意思，TA已经被预约了
  div(class='op share-op')
    a(href='https://open.weixin.qq.com/connect/oauth2/authorize?appid='+appId+'&redirect_uri='+redirect_uri+'&response_type=code&scope=snsapi_base&state=1#wechat_redirect') 去生成我的粮票
