extends base.pug
block content
  div(class='share')
    div(class='item')
      img(src='/img/girl.png')
    div(class='item active')
      img(src='/img/boy.png')
    div(class='item')
      img(src='/img/single.png')
  div(class='op share-op')
    a(href='#') 不做单身狗，我要约TA
    a(href='?active=1' id='submit') 分享到朋友圈
